@import url("https://fonts.bunny.net/css?family=open-sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i");

$bg-color-main: #2c3340;
$bg-color-medium: #d3d3d3;
$bg-color-light: #eee;
$primary-color: #178;
$secondary-color: #0cb;
$dark-text-color: #000;
$medium-text-color: rgba(#000, 0.5);
$lighten-higher: rgba(white, 0.5);
$lighten-high: rgba(white, 0.25);
$lighten-medium: rgba(white, 0.12);
$lighten-low: rgba(white, 0.06);
$darken-medium: rgba(black, 0.15);
$darken-high: rgba(black, 0.2);
$darken-higher: rgba(black, 0.4);
$light-text-color: #fff;
$nav-color: rgba(white, 0.5);
$nav-color-active: white;
$green: #4d4;
$red: #f55;
$orange: #f80;
$grey: #678;

BODY {
    background-color: $bg-color-main;
    font-family: "Open Sans";
    font-size: 15px;
}

.logo {
    background-color: $secondary-color;
    line-height: 40px;
    padding: 0 10px;
    font-weight: 300;
    white-space: nowrap;

    .svg {
        width: 30px;
        height: 30px;
        vertical-align: middle;
        margin-right: 10px;
    }

    A {
        color: $light-text-color;
        text-decoration: none;
        font-size: 23px;
    }
}

.login {
    background-color: $bg-color-main;

    .login-popup {
        background-color: $primary-color;
        color: $light-text-color;

        .form {
            padding: 10px;

            LABEL {
                margin-bottom: 10px;
            }

            INPUT,
            BUTTON {
                padding: 5px 10px;
                margin-top: 5px;
                border: 1px solid $lighten-high;
                border-radius: 4px;

                &:focus {
                    background-color: $lighten-high;
                    outline: none;
                }

                &:hover {
                    background-color: $secondary-color;
                    cursor: pointer;
                }

                .svg {
                    height: 1em;
                    vertical-align: -0.1em;
                }
            }
        }
    }
}

.slot {
    background-color: $bg-color-medium;
}

.form-errors {
    color: rgba(#f66, 0.9);
    font-weight: 600;
    margin-bottom: 5px;
}

.nav {
    .logo {
        height: 50px;
        line-height: 48px;
    }

    UL {
        font-weight: 500;
        color: $nav-color;
        line-height: 40px;

        LI.active {
            color: $nav-color-active;
            background-color: $darken-medium;
        }

        LI.bottom-divider+LI::before {
            content: "";
            display: block;
            border-bottom: 1px solid $lighten-medium;
        }

        A {
            max-width: 250px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding-right: 15px;
        }

        LI.logout:hover,
        A:hover {
            cursor: pointer;
            background-color: $lighten-low;
        }
    }

    .nav-icon {
        height: 1em;
        width: 50px;
        vertical-align: -0.1em;
    }
}

.header {
    background-color: $bg-color-main;
    color: $light-text-color;
    padding: 10px;
    font-weight: 300;
    font-size: 23px;
    line-height: 30px;
    height: 50px;
}

.dashboard {
    padding: 10px;
}

.toasts {
    position: fixed;
    right: 20px;
    top: 10px;

    .toast {
        animation: toast 6s both;
        width: 200px;
        background-color: darken($green, 20);
        color: white;
        overflow: hidden;
        border-radius: 4px;
        box-shadow: rgba(black, .2) 0 4px 6px;
        display:flex;
        align-items:center;
        font-size:13px;font-weight:500;
        .svg {width:40px;height:40px;margin-right:10px}
    }

    .toast-error {
        background-color: darken($red, 20);
    }

    .toast-alert {
        background-color: $orange;
    }
}

@keyframes toast {
    0% {
        padding: 10px 15px;
        margin-top: 10px;
    }

    80% {
        opacity: 1;
    }

    90% {
        opacity: 0;
        margin-top: 10px;
        padding: 10px 15px;
        height: auto;
    }

    100% {
        opacity: 0;
        height: 0;
        margin-top: 0;
        padding: 0;
    }
}

.editor {
    background-color: $bg-color-light;
    min-height: 100%;

    .buttons {
        height: 40px;
        background-color: $primary-color;
        padding: 5px;

        .has-errors {
            color: $red;
            font-weight: 600;
        }

        BUTTON {
            background: transparent;
            font: inherit;
            border: 1px solid $lighten-high;
            padding: 4px 10px;
            border-radius: 4px;
            cursor: pointer;
            color: white;
            font-size: 13px;

            .svg {
                width: 13px;
                height: 13px;
                vertical-align: -2px;
                margin-right: 5px;
            }

            &.button-primary {
                background-color: rgba(white, .3);
                border-color: transparent;
            }

            &:hover {
                background-color: $lighten-higher;
            }

            &.button-primary:hover {
                background-color: $green;
            }

            &.button-red:hover {
                background-color: $red;
            }
        }
    }

    .form {
        color: $medium-text-color;
        padding: 10px;
        font-size: 14px;

        .error {
            color: $red;
            font-weight: 600;
            margin-bottom: 5px;
        }

        .error+INPUT {
            border-color: $red;
            background-color: lighten($red, 29);
        }

        INPUT {
            width: 100%;
            display: block;
            padding: 4px 6px;
            background-color: $lighten-higher;
            font: inherit;
            border-radius: 3px;
            border: 1px solid $darken-high;
            font-size: 15px;
            margin: 3px 0 10px;
            color: $dark-text-color;

            &[disabled] {
                background-color: $lighten-high;
                color: $medium-text-color;
            }
        }

        INPUT:focus {
            background-color: white;
            outline: none;
            border-color: $darken-higher
        }
    }
}