@import "leap-toasts";
@import "leap-login";
@import "leap-nav";

// Global style for all Leap components
.leap {
    display: flex;
}

.leap > DIV {
    flex: 1 1 100%;
}

header {
    position: sticky;
    white-space: nowrap;
    top: 0;
    background-color: var(--pico-background-color);
    padding: var(--pico-nav-link-spacing-vertical) var(--pico-block-spacing-horizontal);

    > * {
        margin-bottom: 0;
    }

    box-shadow: var(--pico-card-box-shadow);
}

.nav-icon,
.button-svg {
    height: 1em;
    vertical-align: -0.15em;
    margin-right: 5px;
}

.logo {
    font-size: 1.2em;
    font-weight: 500;

    .svg {
        height: 1.6em;
        vertical-align: -0.45em;
        margin-right: 0.5em;
    }

    A {
        color: inherit;
        text-decoration: none;
    }
}

.form-error {
    float: right;
    color: var(--pico-form-element-invalid-border-color);
    font-size: .8em;
    margin-top: .2em;
}

:root {
    --pico-form-element-spacing-vertical: 0.25rem;
    --pico-form-element-spacing-horizontal: 0.5rem;
}