@import url("https://fonts.bunny.net/css?family=open-sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i");

:root {
    --spacing: 16px;
    --header-height: 50px;
    --nav-item-height: 44px;
    --nav-max-width: 250px;
    --logo-height: 50px;
    --logo-svg-height: 30px;
    --font-size: 16px;
    --font-size-header: 23px;
}

@media (max-width: 1440px) {
    :root {
        --font-size: 15px;
        --nav-item-height: 40px;
        --spacing: 10px;
        --nav-max-width: 220px;
    }
}

@media (max-width: 1024px) {
    :root {
        --nav-max-width: 200px;
        --font-size: 14px;
        --nav-item-height: 36px;
        --header-height: 40px;
        --logo-height: 40px;
        --font-size-header: 21px;
        --logo-svg-height: 26px;
    }
}

// Global style for all Leap components
.leap {
    display: flex;
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
    -moz-osx-font-smoothing: grayscale;
    font-size: var(--font-size);
    position: relative;
    overflow-x: hidden;

    .tox-edit-focus,
    :focus {
        outline: 2px solid rgba($blue-light, 1);
        outline-offset: 1px;
    }

    .button-link {
        font: inherit;
        border: 0 none;
        background: none;
        color: inherit;
        margin: 0;
        padding: 0;
        cursor: inherit;
    }
}

.leap-main {
    flex: 1;
    background-color: $leap-main-background;
    min-height: 100vh;
    position: relative;
}

.leap-header {
    position: sticky;
    white-space: nowrap;
    display: flex;
    align-items: center;
    top: 0;
    z-index: 10;
    background-color: $leap-header-background;
    color: $leap-header-color;

    H2 {
        font-weight: 300;
        font-size: var(--font-size-header);
        padding: 0 var(--spacing);
        line-height: var(--header-height);
    }

    > * {
        margin-bottom: 0;
    }

    [role="group"] {
        padding: 0 var(--spacing);
        background-color: $leap-header-background-buttons;
    }
}
