.leap {
    .leap-index-with-editor {
        position: absolute;
        width: 100%;
        top: var(--header-height);
        bottom: 0;
        .leap-index {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }

    .leap-editor {
        width: 100%;
        min-height: 100%;
        background-color: $grey-light;
        box-shadow: inset rgba(black, 0.05) 1px 0 0;
        position: absolute;
        z-index: 10;
        transition: transform 0.4s;
        right: 0;
        max-width: 1280px;
        width: 75vw;
        @media (max-width: 1440px) {
            width: calc(100vw - 300px);
        }
        @media (max-width: 768px) {
            width: calc(100vw - 50px);
        }

        // overflow: auto;
        &.leap-editor-closed {
            transform: translateX(100%);
        }
        &.leap-editor-open {
            transform: translateX(0);
        }
    }
}
