.leap {
    .leap-editor {
        background-color: $grey-light;
        box-shadow: inset rgba(black, 0.05) 1px 0 0;
        position: absolute;
        overflow: auto;
        width: 100%;
        top: var(--header-height);
        bottom: 0;
        right: 0;
        z-index: 10;
        transition: transform 0.4s;
    }

    .leap-index + .leap-editor {
        width: 60vw;
        transform: translateX(100%);
        @media (max-width: 1024px) {
            width: calc(100vw - 300px);
        }
        @media (max-width: 768px) {
            width: calc(100vw - 50px);
        }
    }

    .leap-editor-open {
        > .leap-index {
            transition: right 0.4s;
            right: 60vw;
            @media (max-width: 1024px) {
                right: calc(100vw - 300px);
            }
        }
        .leap-editor {
            transform: translateX(0);
        }
    }
}
