.leap-filemanager {
    .leap-header {
        H2 {
            width: 100%;
        }
    }
    .leap-index {
        display: flex;
        .leap-index-table {
            flex: 0 0 auto;
            overflow-x: visible;
            overflow-y: auto;
            display: flex;
            background-color: $grey-light;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                inset: 0 0 0 auto;
                width: 1px;
                background-color: rgba(black, 0.05);
            }
            align-items: start;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
            width: auto;
            TH:first-child,
            TD:first-child {
                width: 100%;
            }
            &:not(:last-child) {
                TD:not(:first-child) {
                    display: none;
                }
                TD:first-child {
                    padding-right: var(--spacing);
                }
            }
            .leap-index-header {
                width: 100%;
                line-height: var(--nav-item-height);
                .svg-icon {
                    color: white;
                }
            }
            .leap-filemanager-parent {
                display: none;
            }
            .leap-index-row {
                TD {
                    background-color: transparent;
                }
            }
            &:not(:last-of-type) {
                .leap-button {
                    SPAN {
                        display: none;
                    }
                }
            }
            INPUT[type="file"] {
                display: none;
            }
        }
        @media (max-width: 512px) {
            .leap-index-table {
                flex-basis: 100%;
                > * {
                    flex-basis: 100%;
                }
                .leap-filemanager-parent {
                    display: table-row;
                }
                &:not(:last-child) {
                    display: none;
                }
            }
        }
        IMG[loading="lazy"] {
            position: absolute;
            display: inline-block;
            object-fit: contain;
            height: 80%;
            top: 10%;
            width: 1.5em;
            margin-left: -0.25em;
        }
        IMG + .svg-icon {
            visibility: hidden;
        }
        .svg-icon {
            height: 1em;
            width: 1.3em;
            margin-left: -0.15em;
            color: $blue-normal;
            vertical-align: -1px;
        }
        &.leap-index-dropzone .leap-index-table:last-child,
        &.leap-index-dropzone .leap-index-table:last-child TR {
            background-color: rgba($blue-light, 0.4);
        }
    }
    .leap-filemanager-uploading {
        position: relative;
        cursor: default !important;
        PROGRESS {
            display: block;
            width: 100%;
        }
    }
    .leap-filemanager-uploading-error {
        cursor: pointer !important;
        TD {
            background-color: rgba($red, 0.5) !important;
        }
        PROGRESS {
            display: none;
        }
    }
    .leap-filemanager-uploading-progress {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: rgba($green, 0.4);
    }
    .leap-filemanager-uploading-done:not(.leap-filemanager-uploading-error) {
        animation: uploadingdone 0.5s forwards 1s;
        TD {
            background-color: rgba($green, 0.5) !important;
        }
        @keyframes uploadingdone {
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0;
                display: none;
            }
        }
    }
    .leap-filemanager-selected {
        flex: 1 1 100%;
        min-width: 50%;
        padding-bottom: var(--spacing);
        gap: var(--spacing);
        background-color: white;
        display: flex;
        flex-direction: column;
        position: relative;
        .leap-buttons {
            flex: 0 0 auto;
        }
        .leap-filemanager-preview {
            margin: 0 var(--spacing);
            flex: 1 1 100%;
            position: relative;
            order: 2;
            .leap-filemanager-preview-items {
                position: absolute;
                width: 100%;
                height: 100%;
                display: grid;
                row-gap: var(--spacing);
                column-gap: var(--spacing);
                .leap-filemanager-preview-item {
                    position: relative;
                    flex: 1 1 auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    VIDEO,
                    IMG {
                        max-width: 100%;
                        max-height: 100%;
                        display: block;
                    }
                    A {
                        text-decoration: none;
                        color: inherit;
                        display: block;
                        max-width: 100%;
                        SPAN {
                            font-size: 0.85em;
                            overflow: hidden;
                            max-width: 100%;
                            max-height: 100%;
                            display: block;
                            padding: var(--spacing);
                            background-color: $grey-light;
                            border-radius: 8px;
                            position: absolute;
                            text-align: center;
                            word-wrap: break-word;
                            left: 50%;
                            top: 60%;
                            transform: translate(-50%, -50%);
                            .svg-icon {
                                height: 1.5em;
                                width: 1.5em;
                                vertical-align: -0.35em;
                                margin-right: 0.5em;
                            }
                            &:hover {
                                color: white;
                                background-color: $blue-light;
                                opacity: 1 !important;
                                .svg-icon {
                                    color: inherit;
                                }
                            }
                        }
                    }
                    &:not(:hover) VIDEO + A,
                    &:not(:hover) IMG + A {
                        opacity: 0;
                    }
                }
            }
        }
        .leap-filemanager-stats {
            display: flex;
            align-items: center;
            flex-direction: column;
            H3 {
                font-size: 1.1em;
                font-weight: bold;
                padding: 0 var(--spacing);
                width: 100%;
                text-align: center;
                .leap-input {
                    text-align: center;
                }
                .editFile:hover {
                    text-decoration: underline;
                }
            }
            .leap-buttons {
                background: none;
                padding: 0;
                justify-content: center;
                .leap-button {
                    background-color: $blue-light;
                    &:hover {
                        background-color: $blue-normal;
                    }
                }
            }
            TABLE {
                font-size: 0.85em;
                line-height: 1.5;
                border-spacing: 0.5em 0;
                border-collapse: separate;
                TD[align="right"] {
                    font-weight: 600;
                }
            }
        }
    }
}

.leap-filebrowser {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(black, 0.7);
    z-index: 1500;
    align-items: center;
    justify-content: center;
    .leap-filebrowser-dialog {
        height: 80%;
        width: 80%;
        background: red;
        .leap-main {
            min-height: 100%;
            box-shadow: rgba(black, 0.5) 1px 0 10px;
        }
    }
}
