.leap {
    .leap-error {
        float: right;
        color: $leap-color-error;
        margin-top: 0.1em;
        font-size: 0.9em;
        font-weight: 600;
    }

    .leap-fieldset {
        border: 0 none;

        H3 {
            font-size: 1.2em;
            font-weight: 300;
        }

        LABEL.leap-label {
            display: block;

            &:not(:first-child) {
                margin-top: calc(var(--spacing) / 1.5);
            }

            SPAN.leap-label {
                color: rgba(black, 0.5);
                display: inline-block;
                margin-bottom: calc(var(--spacing) / 4);
            }
            &:has([type="radio"]),
            &:has([type="checkbox"]) {
                display: flex;
                align-items: center;
                margin-bottom: calc(var(--spacing) / 4);
                INPUT {
                    flex-shrink: 0;
                }
                SPAN.leap-label {
                    order: 2;
                    margin-bottom: 0;
                }
                .leap-error {
                    flex-basis: 100%;
                    text-align: right;
                    order: 3;
                }
            }
        }

        .leap-fieldset:not(:first-child) {
            margin-top: 0;
        }

        .leap-fieldset[role="group"] {
            display: flex;
            flex-wrap: wrap;
            gap: 0 var(--spacing);
            > .leap-label {
                margin-top: 0;
            }
        }
    }

    .leap-fieldset:not(:first-child) {
        margin-top: var(--spacing);
    }

    .leap-fieldset-buttons {
        display: flex;
        justify-content: space-between;
        gap: calc(var(--spacing) / 2);
        margin-top: calc(var(--spacing) / 2);
    }

    .leap-form {
        padding: calc(var(--spacing) / 2) var(--spacing);
    }

    .leap-buttons {
        background-color: $leap-header-background-buttons;
        height: var(--nav-item-height);
        display: flex;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 9;
        gap: calc(var(--spacing) / 2.5);
        padding: calc(var(--spacing) / 2.5) var(--spacing) calc(var(--spacing) / 2.5);

        .leap-editing-id {
            color: white;
            opacity: 0.6;
            flex-basis: 100%;
            text-align: right;
            @media (max-width: 512px) {
                flex-basis: auto;
            }
        }
    }

    .leap-button-add {
        display: inline-block;
        text-align: center;
        border-radius: 3px;
        border: 0 none;
        background-color: transparent;
        opacity: 0.5;
        vertical-align: middle;
        .svg-icon {
            height: 16px;
            width: 16px;
        }
        &:hover {
            opacity: 1;
            cursor: pointer;
        }
        &:has(+ .leap-button-add) {
            padding-right: 0px;
        }
        + .leap-button-add {
            margin-left: -2px;
            padding-left: 0px;
        }
    }
    .leap-files-sortable {
        cursor: grab;
    }
    .leap-files LI {
        border-radius: 3px;
        padding: 1px 5px;
        &.sortable-ghost {
            color: rgba(black, 0);
            background-color: white;
            outline: $blue-light solid 2px;
            IMG,
            VIDEO,
            AUDIO {
                opacity: 0;
            }
        }
        BUTTON,
        A {
            vertical-align: -1px;
            padding: 0;
            text-decoration: none;
            color: $blue-light;
            opacity: 0;
            border: 0 none;
            background-color: transparent;
        }
        BUTTON {
            color: $red;
        }
        .svg-icon {
            height: 16px;
        }
    }
    .leap-files-media {
        display: flex;
        gap: 5px;
        LI {
            padding: 0;
            position: relative;
            VIDEO,
            AUDIO,
            IMG {
                display: block;
                height: 75px;
                // max-width: 125px;
                width: auto;
            }
            BUTTON {
                top: 5px;
                right: 5px;
                background-color: $red;
            }
            A {
                font-size: 14px;
                bottom: 5px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 10;
                white-space: nowrap;
                background-color: $blue-dark;
                display: none;
                .svg-icon {
                    height: 12px;
                }
            }
            &:hover A {
                display: block;
            }
            A,
            BUTTON {
                position: absolute;
                color: white;
                padding: 2px 5px;
                border-radius: 3px;
            }
        }
    }

    .leap-pivot {
        display: flex;
        flex-wrap: wrap;
        gap: calc(var(--spacing) / 3);
        &[aria-invalid="true"] {
            border-width: 1px;
            border-style: solid;
            border-radius: 3px;
            padding: 2px;
            margin: -3px;
        }
        LABEL {
            position: relative;
            border: 0 none;
            font: inherit;
            background-color: rgba(black, 0.1);
            color: rgba(black, 0.6);
            padding: calc(var(--spacing) / 4) calc(var(--spacing) / 2);
            border-radius: 3px;
            font-size: 0.9em;
            &:hover {
                opacity: 0.8;
            }
            &:has(INPUT[type="checkbox"]:checked) {
                color: white;
                background-color: $blue-normal;
            }
            &:has(INPUT[type="checkbox"]) {
                INPUT[type="checkbox"] {
                    cursor: pointer;
                    appearance: none;
                    display: block;
                    border-radius: 3px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }

    .tox-tinymce {
        border: 1px solid rgba(black, 0.2);
        border-radius: 3px;
        overflow: hidden;
        background: rgba(white, 0.5);
        .tox-editor-container {
            .tox-editor-header {
                border-radius: 3px 3px 0 0;
                overflow: hidden;
                background-color: transparent;
                .tox-toolbar__primary {
                    background: $grey-light;
                }
            }
        }
        .tox-toolbar-overlord {
            background-color: $grey-light;
        }
        .tox-edit-area::before {
            outline: 1px solid rgba(black, 0.4);
            border-style: none;
            border-radius: 0;
        }
    }
    .tox:not(.tox-tinymce-inline) .tox-editor-header {
        padding: 0 !important;
        border-bottom: 1px solid rgba(black, 0.2);
        box-shadow: none;
    }
    .tox .tox-toolbar__group {
        padding: 0 5px;
    }

    .leap-button,
    .leap-input:not([type="checkbox"], [type="radio"], [type="range"], [type="file"]),
    .leap-select,
    .leap-textarea {
        font: inherit;
        display: block;
        border: 1px solid rgba(black, 0.2);
        color: black;
        font-weight: 400;
        background: none;
        border-radius: 3px;
        padding: 4px 6px;
        background-color: rgba(white, 0.5);
        &[disabled] {
            opacity: 0.33;
        }
    }

    .leap-button {
        line-height: 1.3;
        border-color: rgba(white, 0.2);
        background-color: transparent;
        font-size: 14px;
        @media (max-width: 1024px) {
            font-size: 13px;
        }
        @media (max-width: 768px) {
            font-size: 12px;
        }
        @media (max-width: 512px) {
            max-width: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        color: white;
        padding-left: calc(var(--spacing) / 2);
        padding-right: calc(var(--spacing) / 2);
        text-decoration: none;
        white-space: nowrap;
        // overflow: hidden;
        // min-width: 100px;
        // text-overflow: ellipsis;

        &.primary {
            background-color: rgba(white, 0.33);
            border-color: transparent;

            &:hover:not([disabled]) {
                background-color: $green;
            }
        }

        &.secondary:hover:not([disabled]) {
            background-color: $red;
            border-color: transparent;
        }

        &:hover:not([disabled]) {
            background-color: rgba(white, 0.2);
            border-color: transparent;
            cursor: pointer;
        }

        .leap-svg-icon {
            margin-right: 0.25em;
            height: 1em;
            vertical-align: -0.15em;
        }
    }

    .leap-input:not([type="checkbox"], [type="radio"], [type="range"], [type="file"]),
    .leap-select,
    .leap-textarea {
        width: 100%;
    }

    .leap-select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        // width: auto;
        // max-width: 100%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(136, 145, 164)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
        padding-left: 20px;
        background-repeat: no-repeat;
        background-position: 2px 55%;
        background-size: 18px;
        OPTION {
            opacity: 0.1;
            color: red;
        }
    }

    .leap-input::-webkit-datetime-edit {
        line-height: 1;
        padding: 0;
        margin-bottom: -2px;
    }

    .leap-textarea {
        resize: vertical;
    }

    // Checkbox / Switch related
    $leap-input-switch-size: 1em;

    .leap-label:has([type="checkbox"], [type="radio"]) {
        cursor: pointer;
    }

    .leap-input[type="radio"] {
        background: rgba(white, 0.5);
        height: $leap-input-switch-size;
        width: $leap-input-switch-size;
        border-radius: $leap-input-switch-size;
        border: 1px solid rgba(black, 0.2);
        box-sizing: content-box;
        position: relative;
        margin-right: 5px;
        &::before {
            content: "";
            display: block;
            position: absolute;
            width: $leap-input-switch-size;
            height: $leap-input-switch-size;
            background-color: white;
            border-radius: 100%;
            transition: transform 0.2s;
            transform: scale(0);
        }
        &:checked {
            background-color: $blue-normal;
            border-color: transparent;
            &::before {
                transform: scale(0.5);
            }
        }
    }

    .leap-input[type="checkbox"]:not([role="switch"]) {
        background: rgba(white, 0.5);
        height: $leap-input-switch-size;
        width: $leap-input-switch-size;
        border-radius: 3px;
        border: 1px solid rgba(black, 0.2);
        box-sizing: content-box;
        position: relative;
        margin-right: 5px;
        &:checked {
            background-color: $blue-normal;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(255, 255, 255)' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: 60% 55%;
            background-size: $leap-input-switch-size / 1.2;
            border-color: transparent;
        }
    }

    .leap-input[role="switch"] {
        background: rgba(black, 0.2);
        height: $leap-input-switch-size;
        width: $leap-input-switch-size * 1.75;
        border-radius: $leap-input-switch-size;
        border: 2px solid transparent;
        box-sizing: content-box;
        display: inline-block;
        position: relative;
        margin-right: 5px;
        &::before {
            content: "";
            display: block;
            position: absolute;
            width: $leap-input-switch-size;
            height: $leap-input-switch-size;
            background-color: rgba(white, 1);
            border-radius: 100%;
            margin: 0px;
            left: 0;
            transition: left 0.2s;
        }
        &:checked {
            background-color: $blue-normal;
            &::before {
                background: white;
                left: $leap-input-switch-size * 0.75;
            }
        }
    }

    .leap-input[type="checkbox"],
    .leap-input[type="radio"] {
        font-size: inherit;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        transition: background-color 0.2s;
        cursor: pointer;
        &[aria-invalid="true"] {
            background-color: $leap-color-border-error;
        }
    }

    .leap-textarea[aria-invalid="true"],
    .leap-select[aria-invalid="true"],
    .leap-pivot[aria-invalid="true"],
    .leap-input[aria-invalid="true"] {
        border-color: $leap-color-border-error;
        background-color: rgba($red, 0.05);
    }

    .leap-input:not([type="checkbox"], [type="radio"])[aria-invalid="true"] {
        padding-right: 2em;
        background-size: 1.5em;
        background-position: right 0.5em center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgba(200,79,72,.8)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='8' x2='12' y2='12'%3E%3C/line%3E%3Cline x1='12' y1='16' x2='12.01' y2='16'%3E%3C/line%3E%3C/svg%3E"); // Credits to PicoCSS. Is there any way to use stroke color from sass variable?
    }

    .leap-json-readonly {
        font-size: 0.9em;
        .leap-json-readonly-depth-2 TD:first-child {
            padding-left: 1em;
        }
        .leap-json-readonly-depth-3 TD:first-child {
            padding-left: 2em;
        }
        TH {
            text-align: left;
            font-weight: 500;
            opacity: 0.5;
        }
        TD {
            opacity: 0.4;
            padding-right: 0.4em;
        }
        TD:last-child {
            opacity: 0.7;
        }
    }

    .leap-table {
        overflow: scroll;
        position: absolute;
        // inset: calc(var(--nav-item-height) + var(--spacing) / 2) var(--spacing) calc(var(--spacing) / 2) var(--spacing);
        padding: calc(var(--spacing) / 2) var(--spacing);
        inset: var(--nav-item-height) 0 0;

        .leap-table-row-disabled {
            opacity: 0.4;
        }
        TD {
            border: 1px solid #ccc;
            padding: 0.05em 0.25em;
        }
        .error {
            background-color: $red;
            color: white;
        }
    }
}

BODY:not(.sorting) .leap-files LI {
    &:focus-within,
    &:hover {
        background-color: rgba(white, 0.8);
        BUTTON,
        A {
            opacity: 0.6;
            &:hover {
                cursor: pointer;
                opacity: 1;
            }
        }
    }
}
