.leap-index {
    overflow: auto;
    position: absolute;
    top: var(--header-height);
    right: 0;
    bottom: 0;
    left: 0;

    .leap-index-table {
        border-collapse: collapse;
        border-spacing: 0;
        display: table;
        LI {
            display: table-row-group;
        }
        .leap-index-header {
            color: $leap-index-header-color;
            display: table-row;
            position: sticky;
            z-index: 2;
            top: 0;
            background-color: $leap-index-header;
            .leap-index-column,
            TH {
                background-color: $leap-index-header;
                text-align: left;
                font-weight: 600;
                font-size: 0.9em;
                line-height: var(--nav-item-height);
                .leap-buttons {
                    padding-left: 0;
                    padding-right: 0;
                }
                .button-link:hover {
                    opacity: 0.5;
                    cursor: pointer;
                }
                .button-link:focus {
                    padding-left: 6px;
                    padding-right: 6px;
                    margin-left: -6px;
                    margin-right: -6px;
                    border-radius: 6px;
                    outline-offset: -3px;
                }
                &.order-desc .button-link::after,
                &.order-asc .button-link::after {
                    content: "";
                    display: inline-block;
                    border: 5px solid transparent;
                    opacity: 0.5;
                    margin-left: 0.2em;
                }
                &.order-asc .button-link::after {
                    border-top-color: white;
                    transform: translateY(30%);
                }
                &.order-desc .button-link::after {
                    border-bottom-color: white;
                    transform: translateY(-25%);
                }
                &:first-child {
                    position: sticky;
                    left: 0;
                }
            }
        }

        .leap-row-checkbox {
            display: inline-block;
            height: 1em;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            text-align: center;
            width: 100%;
            max-width: 5em;
            &.leap-row-checkbox-checked {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(0,0,0,0.3)' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
            }
        }

        .leap-index-row {
            display: table-row;
            background-color: $leap-index-row;
            .leap-index-column,
            TD {
                background-color: $leap-index-row;
                display: table-cell;
                color: $leap-index-row-color;
                box-shadow: inset rgba(white, 0.35) 0 1px 0, inset rgba(black, 0.05) 0 -1px 0;
                padding-top: 6px;
                padding-bottom: 6px;
                max-width: 30vw;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            .leap-index-column:not(:first-child),
            TD:not(:first-child) {
                font-size: 0.8em;
            }
            .leap-index-column:first-child,
            TD:first-child {
                font-size: 0.95em;
                color: $leap-index-row-first-color;
                position: sticky;
                left: 0;
                max-width: 40vw;
            }
            &.leap-index-row-selected,
            &:hover {
                .leap-index-column,
                TD {
                    box-shadow: inset rgba(black, 0.05) 0 -1px 0;
                }
                cursor: pointer;
            }
            &.leap-index-row-selected {
                .leap-index-column,
                TD {
                    background-color: $leap-index-row-selected;
                    color: white;
                }
            }
            &.leap-index-group {
                position: sticky;
                top: var(--nav-item-height);
                font-weight: 700;
                z-index: 1;
                cursor: default;
                .leap-index-column,
                TD {
                    background-color: $grey;
                    font-size: 1em;
                    color: $leap-index-row-first-color;
                    box-shadow: inset rgba(black, 0.05) 0 1px 0, inset rgba(black, 0.05) 0 -1px 0;
                }
            }
        }

        .leap-index-column,
        TH,
        TD {
            display: table-cell;
            white-space: nowrap;
            padding-left: calc(var(--spacing) / 2);
            padding-right: calc(var(--spacing) / 2);

            &:first-child {
                padding-left: var(--spacing);
            }

            &:last-child {
                padding-right: var(--spacing);
                width: 100%;
                @media (max-width: 512px) {
                    width: auto;
                }
            }
        }
    }

    .leap-index-treeview {
        display: block;
        LI {
            display: block;
        }
        .leap-index-row,
        .leap-index-header {
            display: flex;
        }
        .leap-index-row {
            box-shadow: inset rgba(white, 0.35) 0 1px 0, inset rgba(black, 0.05) 0 -1px 0;
            &.leap-index-row-selected {
                box-shadow: inset rgba(black, 0.05) 0 -1px 0;
                background-color: $leap-index-row-selected;
            }
        }
        .leap-index-column {
            flex: 0 0 auto;
            &:last-child {
                width: auto;
            }
        }
        .leap-index-sort-handle {
            display: inline-block;
            position: absolute;
            left: 0;
            width: var(--spacing);
            top: 0;
            bottom: 0;
            color: rgba(black, 0.2);
            text-align: center;
            .svg-icon {
                width: calc(var(--spacing) / 1.5);
                height: 100%;
                visibility: hidden;
            }
        }
        UL {
            padding-left: var(--spacing);
        }
    }

    .leap-index-row-inactive * {
        text-decoration: line-through;
        color: rgba(black, 0.3) !important;
    }

    .leap-index-table {
        .sortable-ghost {
            box-shadow: inset $blue-light 0 0 0 2px;
            background-color: white;
            .leap-index-row {
                .leap-index-column {
                    color: rgba(black, 0.4);
                }
                background-color: transparent;
            }
        }
    }

    .leap-index-filter {
        appearance: none;
        max-width: 50%;
        color: inherit;
        font: inherit;
        border: 0 none;
        background: transparent;
        opacity: 0.6;
        line-height: 2;
        font-size: 0.8em;
        padding: 0 5px;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        &:hover {
            background-color: $blue-light;
        }
    }
}
BODY.sorting .leap-index {
    overflow-x: hidden;
}
BODY:not(.sorting) .leap-index-table .leap-index-row:hover {
    .svg-icon {
        visibility: visible;
    }
    .leap-index-sort-handle-group {
        background-color: $blue-light;
        cursor: grab;
        color: white;
    }
    &.leap-index-row-selected {
        .leap-index-sort-handle-group {
            background-color: $blue-normal;
        }
    }
    &:not(.leap-index-row-selected) {
        background-color: $leap-index-row-hover;
        .leap-index-column,
        TD {
            background-color: $leap-index-row-hover;
        }
    }
}
