.leap-index {
    .leap-index-table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        .leap-index-header {
            background-color: $leap-index-header;
            color: $leap-index-header-color;
            position: sticky;
            top: var(--header-height);
            TH {
                text-align: left;
                font-weight: 400;
                line-height: var(--nav-item-height);
                &:hover {
                    opacity: 0.5;
                    cursor: pointer;
                }
                &.order-desc::after,
                &.order-asc::after {
                    content: "";
                    display: inline-block;
                    border: 5px solid transparent;
                    opacity: 0.5;
                    margin-left: 0.2em;
                }
                &.order-asc::after {
                    border-top-color: white;
                    transform: translateY(30%);
                }
                &.order-desc::after {
                    border-bottom-color: white;
                    transform: translateY(-25%);
                }
            }
        }
        .leap-index-row {
            background-color: $leap-index-row;
            color: $leap-index-row-color;
            TD {
                box-shadow: inset rgba(white, 0.35) 0 1px 0, inset rgba(black, 0.05) 0 -1px 0;
                padding-top: 6px;
                padding-bottom: 6px;
            }
            TD:not(:first-child) {
                font-size: 0.8em;
            }
            TD:first-child {
                font-size: 0.95em;
                color: $leap-index-row-first-color;
            }
            &:hover {
                background-color: $leap-index-row-hover;
                TD {
                    box-shadow: inset rgba(black, 0.05) 0 -1px 0;
                }
                cursor: pointer;
            }
            &.leap-index-group {
                position: sticky;
                background-color: $grey;
                top: calc(var(--header-height) + var(--nav-item-height));
                font-weight: 700;
                TD {
                    font-size: 1em;
                    color: $leap-index-row-first-color;
                    box-shadow: inset rgba(black, 0.05) 0 1px 0, inset rgba(black, 0.05) 0 -1px 0;
                }
            }
        }
        TH,
        TD {
            white-space: nowrap;
            padding-left: calc(var(--spacing) / 2);
            padding-right: calc(var(--spacing) / 2);
            &:first-child {
                padding-left: var(--spacing);
            }
            &:last-child {
                padding-right: var(--spacing);
                width: 100%;
            }
        }
    }
}
