.leap-index {
    overflow: auto;
    position: absolute;
    top: var(--header-height);
    right: 0;
    bottom: 0;
    left: 0;
    .leap-index-table {
        border-collapse: collapse;
        border-spacing: 0;
        .leap-index-header {
            color: $leap-index-header-color;
            position: sticky;
            z-index: 2;
            top: 0;
            background-color: $leap-index-header;
            TH {
                background-color: $leap-index-header;
                text-align: left;
                font-weight: 600;
                font-size: 0.9em;
                line-height: var(--nav-item-height);
                .leap-buttons {
                    padding-left: 0;
                    padding-right: 0;
                }
                BUTTON:hover {
                    opacity: 0.5;
                    cursor: pointer;
                }
                BUTTON:focus {
                    padding-left: 6px;
                    padding-right: 6px;
                    margin-left: -6px;
                    margin-right: -6px;
                    border-radius: 6px;
                    outline-offset: -3px;
                }
                &.order-desc::after,
                &.order-asc::after {
                    content: "";
                    display: inline-block;
                    border: 5px solid transparent;
                    opacity: 0.5;
                    margin-left: 0.2em;
                }
                &.order-asc::after {
                    border-top-color: white;
                    transform: translateY(30%);
                }
                &.order-desc::after {
                    border-bottom-color: white;
                    transform: translateY(-25%);
                }
                &:first-child {
                    position: sticky;
                    left: 0;
                }
            }
        }
        .leap-row-checkbox {
            display: inline-block;
            height: 1em;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            text-align: center;
            width: 100%;
            max-width: 5em;
            &.leap-row-checkbox-checked {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(0,0,0,0.3)' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
            }
        }
        .leap-index-row {
            TD {
                color: $leap-index-row-color;
                background-color: $leap-index-row;
                box-shadow: inset rgba(white, 0.35) 0 1px 0, inset rgba(black, 0.05) 0 -1px 0;
                padding-top: 6px;
                padding-bottom: 6px;
                max-width: 30vw;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            TD:not(:first-child) {
                font-size: 0.8em;
            }
            TD:first-child {
                font-size: 0.95em;
                color: $leap-index-row-first-color;
                position: sticky;
                left: 0;
                max-width: 40vw;
            }
            &.leap-index-row-selected,
            &:hover {
                TD {
                    background-color: $leap-index-row-hover;
                    box-shadow: inset rgba(black, 0.05) 0 -1px 0;
                }
                cursor: pointer;
            }
            &.leap-index-row-selected TD {
                background-color: $leap-index-row-selected;
                color: white;
            }
            &.leap-index-group {
                position: sticky;
                top: var(--nav-item-height);
                font-weight: 700;
                z-index: 1;
                cursor: default;
                TD {
                    background-color: $grey;
                    font-size: 1em;
                    color: $leap-index-row-first-color;
                    box-shadow: inset rgba(black, 0.05) 0 1px 0, inset rgba(black, 0.05) 0 -1px 0;
                }
            }
        }
        TH,
        TD {
            white-space: nowrap;
            padding-left: calc(var(--spacing) / 2);
            padding-right: calc(var(--spacing) / 2);
            &:first-child {
                padding-left: var(--spacing);
            }
            &:last-child {
                padding-right: var(--spacing);
                width: 100%;
            }
        }
    }
}
