.leap-logo {
    background-color: $leap-logo-background;
    font-size: 23px;
    font-weight: 300;
    line-height: var(--logo-height);
    white-space: nowrap;

    .svg {
        height: 30px;
        flex:0 0 50px;
    }

    A {
        color: $leap-logo-color;
        padding-right:var(--spacing);
        display: flex;
        align-items: center;
        text-decoration: none;

        &:hover {
            background-color: rgba(white, 0.15);
        }
    }
}
