.leap-logo {
    background-color: $leap-logo-background;
    font-size: var(--font-size-header);
    font-weight: 300;
    line-height: var(--logo-height);
    white-space: nowrap;

    .svg {
        height: var(--logo-svg-height);
        width: 50px;
        margin-top: calc((var(--logo-height) - var(--logo-svg-height)) / 2);
        float: left;
    }

    A {
        color: $leap-logo-color;
        padding-right: var(--spacing);
        display: block;
        align-items: center;
        text-decoration: none;

        &:hover {
            background-color: rgba(white, 0.15);
        }
    }
}
