.leap-logo {
    background-color: $leap-logo-background;
    font-size: 23px;
    font-weight: 300;
    line-height: var(--logo-height);
    white-space: nowrap;

    .svg {
        height: 30px;
        width: 50px;
        margin-top: 10px;
        float: left;
    }

    A {
        color: $leap-logo-color;
        padding-right: var(--spacing);
        display: block;
        align-items: center;
        text-decoration: none;

        &:hover {
            background-color: rgba(white, 0.15);
        }
    }
}
