.leap-nav-aside {
    height: 100vh;
    position: sticky;
    max-width: var(--nav-max-width);
    top: 0;
    z-index: 100;

    #leap-nav-toggle {
        display: none;
    }
    @media (max-width: 768px) {
        flex: 0 0 50px;
        order: 2;
        > LABEL[for="leap-nav-toggle"] {
            display: block;
            position: fixed;
            top: 0;
            right: 0;
            width: 50px;
            background-color: $leap-logo-background;
            > SPAN {
                display: block;
                height: 3px;
                background-color: white;
                width: 28px;
                position: absolute;
                top: calc(50% - 1.5px);
                left: 11px;
                transition: transform 0.4s;
                &:nth-child(1) {
                    transform: translateY(-8px);
                }
                &:nth-child(3) {
                    transform: translateY(8px);
                }
            }
            height: var(--logo-height);
            cursor: pointer;
            z-index: 100;
        }
        .leap-nav {
            position: fixed;
            transform: translateX(calc(100% - 50px));
            right: 0;
            width: 100%;
            transition: transform 0.4s;
        }
        #leap-nav-toggle:checked {
            ~ LABEL[for="leap-nav-toggle"] > SPAN {
                &:nth-child(1) {
                    transform: rotate(-45deg);
                }
                &:nth-child(2) {
                    transform: scale(0);
                }
                &:nth-child(3) {
                    transform: rotate(45deg);
                }
            }
            ~ .leap-nav {
                transform: translateX(0);
            }
        }
    }

    .leap-logo {
        position: sticky;
        z-index: 2;
        top: 0;
    }

    .leap-nav {
        overflow: auto;
        display: flex;
        flex-direction: column;
        background-color: $leap-nav-background;
        color: $leap-nav-color;
        height: 100%;

        .leap-nav-group {
            display: flex;
            flex-direction: column;
            height: 100%;
            line-height: var(--nav-item-height);
        }

        .leap-nav-item {
            position: relative;
            &.active {
                background-color: rgba(black, 0.25);
                color: $leap-nav-color-active;
            }

            A,
            BUTTON {
                padding: 0 var(--spacing) 0 0;
                white-space: nowrap;
                overflow: hidden;
                text-decoration: none;
                text-overflow: ellipsis;
                color: inherit;
                display: block;
                cursor: pointer;
            }

            BUTTON {
                font: inherit;
                border: 0 none;
                background: none;
                width: 100%;
                text-align: left;
                cursor: pointer;
            }

            &:not(.active) A:hover,
            BUTTON:hover {
                background-color: rgba(white, 0.06);
            }

            HR {
                border: 0 none;
                border-bottom: 1px solid rgba(white, 0.15);
            }
        }

        .leap-svg-icon {
            vertical-align: -0.1em;
            width: 50px;
            margin-right: 0;
        }

        .leap-nav-collapsable {
            > A {
                padding-right: calc(var(--spacing) + 12px);
                &::after {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    right: var(--spacing);
                    top: 50%;
                    width: 0.5em;
                    height: 0.5em;
                    border-top: 2px solid currentColor;
                    border-right: 2px solid currentColor;
                    transform: translateY(-35%) rotate(45deg);
                    transition: transform 0.3s;
                    @media (max-width: 768px) {
                        margin-left: 12px;
                        position: relative;
                        vertical-align: -2px;
                    }
                }
            }
            &.leap-nav-collapsable-open {
                > A::after {
                    transform: translate(2px, -4px) rotate(135deg);
                }
            }
            > UL {
                position: absolute;
                background-color: $leap-nav-background;
                z-index: 1;
                width: 100%;
                A {
                    line-height: 2.5;
                    font-size: 0.9em;
                    padding-left: 50px;
                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
}
