.leap-nav-aside {
    height: 100vh;
    position: sticky;
    // max-width: 220px;
    top: 0;
    z-index: 100;

    .leap-logo {
        position: sticky;
        top: 0;
    }

    .leap-nav {
        overflow: auto;
        display: flex;
        flex-direction: column;
        background-color: $leap-nav-background;
        color: $leap-nav-color;
        height: 100%;

        .leap-nav-group {
            display: flex;
            flex-direction: column;
            height: 100%;
            line-height: var(--nav-item-height);
        }

        .leap-nav-item {
            &.active {
                background-color: rgba(black, 0.25);
                color: $leap-nav-color-active;
            }

            A,
            BUTTON {
                padding: 0 var(--spacing) 0 0;
                white-space: nowrap;
                overflow: hidden;
                text-decoration: none;
                text-overflow: ellipsis;
                color: inherit;
                display: block;
            }

            BUTTON {
                font: inherit;
                border: 0 none;
                background: none;
                width: 100%;
                text-align: left;
                cursor: pointer;
            }

            &:not(.active) A:hover,
            BUTTON:hover {
                background-color: rgba(white, 0.06);
            }

            HR {
                border: 0 none;
                border-bottom: 1px solid rgba(white, 0.15);
            }
        }

        .leap-svg-icon {
            vertical-align: -0.1em;
            width: 50px;
            margin-right: 0;
        }

        .leap-nav-collapse {
            display: none;
            &:checked ~ UL {
                display: block;
            }
        }

        .leap-nav-organizations {
            LABEL {
                cursor: pointer;
            }
            UL {
                display: none;
                background-color: rgba(white, 0.06);
                A {
                    line-height: 2.5;
                    font-size: 0.9em;
                    padding-left: calc(var(--spacing) + 1.75em);
                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
}
